*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3a3b3d;
    color: white;
    /* padding: 10px; */
}

.header img
{
    width: 200px;
    height: 20px;
    filter: brightness(2);
    /* color: white; */
}
li
{
    margin: 10px 40px;
    display: inline-block;
    font-size: 20px;

}
.imagemain
{
    width:100vw;
    height: 60VH;
    background-image: url(/fluod-layout/images/team-image.jpg);
    background-size: cover;
    /* filter: grayscale(30%); */
    /* background-position: center ; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagemain h1,p
{

    /* position:absolute; */
    color: #090000;

}
.imagemain h1
{
    font-size: 70px;
    /* top: 30%;
    left: 25%; */
}
.imagemain p
{
    font-size: 30px;
    font-weight: 500;
    /* top: 45%;
    left: 20%; */
}
/* .imagemain img
{
    width: 100%;
    height: 500px;
} */
/*  this is css of main content*/ 
/* .maincon
{
    margin: 10px;
    border: 1px solid;
} */
.container
{
    /* border: 1px solid; */
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;
    /* gap: 20px;    */
}
.container .cards
{
    width: 400px;
    min-height: 230px;
    padding: 20px 50px;
    /* display: inline-block; */
    border: 1px solid #c1bdbd;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* row-gap: 10px; */
    position: relative;

}
.cards label
{
    position: absolute;
    font-weight: 600;
    top: -10px;
    background-color: #fff;
    padding: 2px 10px;
    color: #354a5f;
}
.cards #lb1
{
    color: #26b756;
}
.cards #lb2
{
    color: #018dc8;
}
.cards #lb3
{
    color: #e74b3c;
}
.cards p
{
    margin: 5px;
    padding: 0px 20px;
    text-align: center;
}
.cards h2
{
    font-size: 2em;
    /* font-weight: bolder; */
    display: inline-block;
}
.cards button
{
    border: none;
    width: 150px;
    font-size: 20px;
    padding: 5px 10px;
    /* margin: 10px; */
    color: #fff;
    background-color: #354a5f;
}
.cards #bt1
{
    background-color: #26b756;
}
.cards #bt2
{
    background-color: #018dc8;
    /* color: #fff; */
}.cards #bt3
{
    background-color: #e74b3c;
    /* color: #fff; */
}